<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Поезії</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Поезії</h1>
        <div class="menu">
            <a href="/love" class="btn">ПРО ЛЮБОВ</a>
            <a href="/patriotic" class="btn">ПАТРІОТИЧНІ</a>
            <a href="/philosophy" class="btn">ФІЛОСОФСЬКІ</a>
            <a href="/other" class="btn">ІНШІ</a>
        </div>
    </div>
</body>
</html>
